:root{
    --sombra: rgba(0, 0, 0, 0.2);
    --blanco: rgba(255,255,255,1);
    --naranja: #ff9800;
    --naranja-oscuro: #f57c00;
    --beige: #ffe0b2;
}

body{
    background-color: var(--blanco);
    width: 100%;
}

footer{
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top: var(--naranja);
    border-top-width: 0.1rem;
    border-top-style:solid;
    font-style: none;
}

input{
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 8px;
}

.hero {
    height: auto;
    width: 100%;
    background-image: url("../src/assets/sordos.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-txt {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 10rem;
}

.navbar{
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0px 2px 8px 2px var(--sombra);
    background-color: var(--naranja);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 8rem));
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-item {
    justify-items: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    border-color: var(--sombra);
    border-width: 0.1rem;
    border-style: solid;
    background: var(--blanco);
    height: 100%;
}

.sena-m, .sena-s {
    height: auto;
    padding: 0.5rem;
}

.sena-m {
    width: 90%;
}

.sena-s {
    width: 50%;
}

.letra {
    font-size: 2rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #ff9800; 
    color: #fff;
    border: 1px solid #ff9800;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #f57c00; 
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.explanation {
    background-color: #ffe0b2;
    padding: 20px;
    border: 2px solid #333; 
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 2rem;
    margin-right: 2rem;
}

.explanation p {
    font-size: 1.2rem;
    color: #333;

}
h1{
		color: #333;
    text-align: center;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    border-color: var(--sombra);
    border-width: 0.1rem;
    border-style: solid;
    box-shadow: 0px 2px 8px 2px var(--sombra);
    background-color: var(--blanco);
    width: fit-content;
}